Django~=3.1.4
cryptography~=2.8
pip~=20.3.3
keyring~=18.0.1
pytz~=2019.3
sqlparse~=0.4.1
asgiref~=3.3.1
PyYAML~=5.3.1
numpy~=1.19.4
httplib2~=0.14.0
Pillow~=7.0.0
pilkit~=2.0
requests~=2.22.0
PyJWT~=1.7.1
certifi~=2019.11.28
chardet~=3.0.4
urllib3~=1.25.8
six~=1.14.0
django-appconf~=1.0.4
oauthlib~=3.1.0
blinker~=1.4
idna~=2.8
simplejson~=3.16.0
setuptools~=50.3.2
bcrypt~=3.1.7
django-imagekit~=4.0.2